.inputDiv {
	border-radius:5px;
	box-shadow: 5px 5px 5px #888888;
	float:left;
	padding: 20px 15px 20px 15px;
	width:100%;
}

.inputHalfDivLeft {
	border-radius:5px;
	box-shadow: 10px 10px 5px #888888;
	float:left;
	padding: 20px 15px 20px 15px;
	width:43%;
}
.inputHalfDivRight {
	border-radius:5px;
	box-shadow: 10px 10px 5px #888888;
	float:right;
	padding: 20px 15px 20px 15px;
	width:43%;
}

.inputFiledName {
	width:100%;
	//background-color: red;
}
.inputElement {
	width:100%;
	//background-color: blue;
}